@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Share+Tech&display=swap');


/*CSS Global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

:root{
    /*--- Paleta de Cores ---*/
    --bg-color:#011526;
    --borda:#BF0000;

    /*--- Degráde ---*/
    --cor1:#75060F;
    --cor2:#960814;
    --cor3:#C90A1B;
    --cor4:#FF0D22;
}


body{
    background-color: var(--bg-color);
    width: 100%;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #fff;
}

/*Topo da Pagina*/
.main{
    padding: 0 2rem;
    position: relative;
    overflow-x: hidden;
}

.main::before{
    content: "";
    position: absolute;
    z-index: 100;
    width: 150px;
    height: 110px;
    left: 75%;
    top: 5%;
    background-color: #ff0015;
    filter: blur(120px);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: var(--bg-color);
}

/*------ Menu -------*/
 .menu{
   display: none;
}

#menu-icon{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    margin: 1rem;
    color: #fff;
    font-size: 1.5rem;
    z-index: 100;
    border: 1px solid #fff;
    cursor: pointer;
    display: none;
}


/*----- Botões -----*/
.nav-btn{
    cursor: pointer;
    background-color: transparent;
    color: #ffff;
    border: none;
    padding: 1rem;
    font-size: 1rem;
}

.nav-btn:hover{
    border-bottom: 1px solid var(--borda);
    transition: 0.10s ease;
}


/*----- Logo -----*/
.logo{
    background-image: linear-gradient(95deg, var(--cor2), var(--cor3), var(--cor4));
    font-size: 2.5rem;
    font-weight: 700;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/*----- Topo do conteiner -----*/
.top-conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.info-box{
    max-width: 50%;
    animation: toRight 0.8s;
}

.titulo{
    margin: 0;
    color: #fff;
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 50px;
}

.info-text{
    margin: 20px 0 35px;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

/*----- Botão -----*/
.info-button{
    display: flex;
}

.info-btn{
    cursor: pointer;
    width: 50%;
    border: none;
    color: #fff;
    padding: 10px 50px;
    border-radius: 15px;
    font-size: 1.2rem;
    background-color: transparent;
    box-shadow: 2px 1px 10px #00000071;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2), var(--cor3), var(--cor4));
}

.info-btn:hover{
    transform: scale(1.08);
    transition: 0.3s ease;
}

/*----- Card Img -----*/
.car-box{
    padding: 20px;
    border: 1px solid var(--borda);
    background-color: var(--bg-color);
    border-radius: 15px;
    animation: toLeft 0.8s;
}

.car-img{
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 2rem;
}

.car-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-link{
    cursor: pointer;
    font-size: 2.5rem;
    padding: 5px;
    background-image: linear-gradient(to right, #ffd600, #ff7a00, #ff0069, #d300c5, #7638fa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.car-info{
    font-size: 16px;
    padding: 10px;
    color: #fff;
}
/*Fim do Topo do conteiner*/



/*Criação*/

.criando-estilos{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
}

.criando-estilos .header{
    align-self: center;
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
}

.criando-estilos .info-text{
    align-self: center;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.5px;
}

.itens-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    gap: 50px;
}

.itens-box:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 120px;
    top: 65%;
    background-image: linear-gradient(95deg, var(--cor2), var(--cor3), var(--cor4));
    filter: blur(400px);
}

.item-conteiner p{
    width: 100px;  
    margin-top: 12px;
    text-align: center;
    font-size: 13px;
    color: #fff;   
}

.item-conteiner .item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 1px solid var(--borda);
    border-radius: 2.5rem;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.2);
}

.item .bx{
    font-size: 40px;
    color: #fff;
}
/*Fim da Criação*/

/*Footer*/
.footer{
    margin: 90px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-header{
    max-width: 50%;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
}

.footer-links{
    display: flex;
}

.footer-links .link{
    margin-left: 70px;
}

.footer-links .link h5{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}

.footer-links .link p{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #fff;
}
/*Fim do Footer*/


/*Copyright*/
.copyright{
    padding-bottom: 15px;
    border-top: 1px solid #fff;
}

.copyright p{
    font-size: 12px;
    line-height: 35px;
    text-align: center;
    color: #fff;
}
/*Fim do Copyright*/


/*CSS Responsivo*/
@media screen and (max-width:1040px){
    .top-conteiner{
        flex-direction: column;
    }

    .top-conteiner .info-box{
        max-width: none;
        margin: 60px 0;
    }

    .top-conteiner .car-box{
        display: none;
    }

    .main .footer{
        flex-direction: column;
    }

    .main .footer .footer-header{
        max-width: 80%;
        margin-bottom: 30px;
        text-align: center;
    }

    .main .footer .footer-links .link:first-child{
        margin: 0;
    }
}

@media screen and (max-width:925px){

    .logo{
        position: absolute;
        left: 2%;
        top: 1%;
    }

    .nav-buttons{
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 1%;
        left: 65%;
    }

    .nav-btn{
        padding: 15px;
        font-size: 1rem;
        z-index: 100;
        text-shadow: 2px 1px 10px #ff0015;
        
    }

    #navMenu{
        visibility: hidden;
    }



    .menu{
        display: block !important;
        align-items: center;
        height: 50vh;
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #00000093;
        backdrop-filter: blur(10px);
        border: none;
        visibility: hidden;
    }

    #menu-icon{
        display: block;
    }

    
    /*====================*/
    .criando-estilos .info-text{
        text-align: center;
    }

    .criando-estilos .itens-box{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        padding: 50px 0;
    }

    .criando-estilos .itens-box::before{
        height: 200px;
        top: 80%;
        filter: blur(180px);
    }
}

@media screen and (max-width:700px){
    .top-conteiner{
        margin-top: 4rem !important;
    }

    .top-conteiner .info-box{
        max-height: none;
        max-width: none;
        margin-bottom: 4rem;
    }

    .top-conteiner .car-box{
        display: block;
        max-width: none;
        max-height: none;
    }
}

@media screen and (max-width:600px){
    .main{
        padding: 0 40px;
    }

    .footer .footer-header{
        font-size: 20px;
        line-height: 30px;
        max-width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer .footer-links{
        justify-content: space-between;
        width: 100%;
    }

    .footer .footer-links .link{
        margin-left: 20px;
    }

    .footer .footer-links .link h5{
        font-size: 15px;
        line-height: 35px;
    }

    .footer .footer-links .link p{
        font-size: 11px;
        line-height: 18px;
    }
}
/*Fim do CSS Responsivo*/

/*Animações*/
@keyframes toRight{
    from{
        transform: translateX(-700px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes toLeft{
    from{
        transform: translateX(550px);
    }
    to{
        transform: translateX(0px);
    }
}