@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


/* ===== CSS Global =====*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

:root{
    /*--- Paleta de Cores ---*/
    --bg-color: #b8b4b4;
    --tx-destaque:#BF0000;
    --borda: #fd5d00;
    --branco: #fff;
    --preto: #000;
    --sombra: #00000096;

    /*--- Degráde ---*/
    --cor0:#7F0000;
    --cor1:#75060F;
    --cor2:#960814;
    --cor3:#C90A1B;
    --cor4:#FF0D22;

    /* Font Titulos */
    --font-titulo: "Russo One", sans-serif; 
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
    overflow-x: hidden;
    color: var(--branco);
}

a{
    text-decoration: none;
    color: var(--branco);
}

ul{
    list-style-type: none;
}

/* ===== Header ===== */
header{
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 2;
    font-size: 1.2rem;
    transition: 0.4s ease;
}

.nav-list a:hover{ 
    border-bottom: 1px solid var(--tx-destaque);
    transform: scale(1.1);
}

.nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

/* ===== Inicio ===== */
.inicio{
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inicio h1{
    width: 100%;
    font-family: var(--font-titulo);
    position: absolute;
    top: 1em;
    font-size: 6em;
    font-style: italic;
    z-index: 1;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2), var(--cor3), var(--cor4), var(--cor0));
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
}

/* Animação do Titulo */
@keyframes degrade {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position: 400%;
    }
}

#bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shadow{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--preto);
    filter: blur(250px);
    width: 100%;
    height: 100%;
}

/* ===== Descrição ===== */

.info{
    width: 100%;
    height: 50%;
    background-color: var(--preto);
    display: flex;
    padding: 4rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.info h3{
    font-family: var(--font-titulo);
    width: 50%;
    font-size: 5em;
    font-style: italic;
    text-align: center;
}

.info p{
    width: 50%;
    font-size: 20px;
}

/* ===== Serviços ===== */
.servicos{
    width: 100%;
    height: 100vh; 
}

.conteiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 1rem;
    position: relative;
    border-radius: 10px;
    background-color: var(--branco);
    width: 90%;
    height: auto;
    margin: 3em auto;
    box-shadow: 3px 0 10px var(--sombra) ;
}

.titulo{
    grid-column: 1 / 4; 
    text-align: right;
    padding: 1rem;
    width: 100%;
    font-size: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linha{
    width: 100%;
    height: 5px;
    background-color: var(--tx-destaque);
}

.titulo h1{
    font-family: var(--font-titulo);
    font-weight: 500;
    font-style: italic;
    color: var(--tx-destaque);
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 1.7rem;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--sombra);
    color: var(--preto);
    padding: 2rem;
}

.item img{
    padding: 0.5rem;
}

.item-info h4{
    font-style: italic;
    font-family: var(--font-titulo);
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.item-info p{
    font-size: 16px;
}

.credito, .credito a{
    color: var(--preto);
}

/* ===== Fotos ===== */

/* ========== */


/* ===== Contato ===== */
.contato{
    background-color: var(--branco);
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contato .titulo h1{
    text-align: center;
    font-size: 2em;
}

.cont-conteiner{
    width: 100%;
}

.hora{
    color: var(--preto);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
}

.hora i{
    font-size: 2.3rem;
    margin: 0.5rem 0;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.btns button{
    cursor: pointer;
    width: 250px;
    font-size: 1.3rem;
    color: var(--branco);
    background-color: var(--preto);
    border: 1px solid var(--preto);
    padding: 0.5rem;
    margin: 1rem 0;
    transition: 0.3s;
}

.btns button:hover{
    background-color: var(--tx-destaque);
    color: var(--branco);
}

.links-social{
    text-align: center;
    font-size: 2.8rem;
    padding: 0.5rem;
}

.links-social i{
    cursor: pointer;
    color: var(--preto);
    margin-right: 1rem;
    transition: 0.3s;
}

.links-social i:hover{
    transform: scale(1.2);
}

/* ===== Footer ===== */